fastapi==0.115.0
pydantic==2.9.2
pydantic-secrets==0.2.1
uvicorn==0.30.6
databases[postgresql]
alembic==1.13.3
psycopg2==2.9.9
SQLAlchemy==2.0.35
SQLAlchemy-Utils==0.41.2
passlib[bcrypt]==1.7.4

# --- 開発補助ツール ---
flake8==7.0.0         # コードチェック（PEP8準拠）
black==24.3.0         # 自動整形（PEP8）
isort==5.13.2         # import順の整理